<!--
<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  // (click) passes input value to add() and then clears the input 
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
-->
<h2> Welcome {{userInfo.firstName}} <br>

{{ userInfo.lastName}}<br>
{{ userInfo.mobileNo}} <br>
{{ userInfo.address.city}}<br>
{{ userInfo.address.state}}<br>
{{ userInfo.address.location}}<br>
{{ userInfo.emailId}}<br>
{{ userInfo.bloodGroup}}<br>


</h2>