<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-color: #F2F2F2;
        }
    </style>
</head>

<body>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>

            <font color="red">   {{errorMsg}}</font>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="username" placeholder="Username --"
                [(ngModel)]="loginData.loginId"
                type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Password" 
                [(ngModel)]="loginData.password"
                type="password" required class="validate" autocomplete="off">
            </div>
           
            <input type="button" (click)="doLogin(loginData)" value="Log In" />
        


        <div class="register">
            <span style="color: #657575">Don't have an account yet?</span>
            <a href="#"><button id="register-link">Register here</button></a>
        </div>
    </div>
</body>

</html>